.invisible {
	opacity: 0;
	transition: $base-transition;
}

.fakefield {
	display: none;
}

.stress {
	color: $text-dark;
}

.left-align {
	text-align: left;
}

.center, 
.center-align {
	text-align: center;
}

.right-align {
	text-align: right;
}

img, svg {
	max-width: 100%;
}

.site {
	position: relative;
	overflow-x: hidden;
}
