.container{
	position: relative;
	@include container;
}
.container-text {
	@include container-text;
}
.row {
	@include row;
}
.half {
	width: 50%;
	overflow: auto;
    float:left;
}

// For classes

// @for $i from 1 through $grid-columns {
//     .col-#{$i} {
//         @include col($i);
//     }
// }

// @each $bp, $width in $grid-breakpoints {
// 	@include media($width) {
// 		@for $i from 1 through $grid-columns {
// 			.col-#{$bp}-#{$i} {
// 				@include col($i);
// 			}
// 		}
// 	}
// }