.comment-navigation,
.posts-navigation,
.post-navigation {
	

	.site-main & {
		@include container;
		margin-top: $global--spacing-vertical;
		margin-bottom: $global--spacing-vertical;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
