@import "_logo";
@import "_lang";

.site-header {
	width: 100%;
    max-width: 100%;
	position: relative;
	// padding-top: 10px;
	// padding-bottom: 10px;
	z-index: 2;
	

	&.fixed {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
	}
	&.absolute {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
	}
	
	&::before,
	&::after {
		content: "";
    	display: table;
		table-layout: fixed;
	}
	&::after {
		clear: both;
	}

	@media (max-width: $breakpoint-nav) {
		background: $pink;
		height: 63px;
	}
}

.header__inner {
    @include container;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*rtl:ignore*/

	@media (max-width: $breakpoint-nav) {
		height: 100%;
	}
}

.site-header__cta-button {
	font-size: 9px;
	margin-top: 15px;
	line-height: 1;
	padding: 8px 12px;
	font-weight: bold;
	color: #E2D0D4;
    background: #462324;
	@media (min-width: $breakpoint-nav) {
		font-size: 12px;
		min-width: 240px;
		height: 37px;
	}
	&:hover {
		color: $brown;
	}
}

.header_bg-wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 94vw;
	max-width: 1279px;
	z-index: -1;
	background: $pink;
	border-radius: 0 0 20px 20px;
}


body.rtl {
	.header__inner {
		flex-direction: row-reverse;
	}
}