.site-branding {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -47%);

    .site-logo {
        max-width: 178px;
        max-height: 77px;
    }

    .custom-logo {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    
        &.only-mobile {
            width: 38px;
        }
        &.no-mobile {
            width: 178px;
        }
    }

    a {
        text-decoration: none;
        margin: 0;
        color: $branding--color-link;
        padding: 0;
    }

    a:hover,
    a:focus {
        color: $branding--color-link-hover;
        outline: none;
    }
}
