.mt-0 {
    margin-top: 0!important;
}
.mr-0 {
    margin-right: 0!important;
}
.mb-0 {
    margin-bottom: 0!important;
}
.ml-0 {
    margin-left: 0!important;
}
.mt-a {
    margin-top: auto!important;
}
.mr-a {
    margin-right: auto!important;
}
.mb-a {
    margin-bottom: auto!important;
}
.ml-a {
    margin-left: auto!important;
}
.pt-0 {
    padding-top: 0!important;
}
.pr-0 {
    padding-right: 0!important;
}
.pb-0 {
    padding-bottom: 0!important;
}
.pl-0 {
    padding-left: 0!important;
}

.flex {
    display: flex;
}
.block {
    display: block;
}
.relative {
    position: relative;
}

.bg-pink {
    background: $pink;
}
.bg-brown {
    background: $brown;
}

@media (max-width: $breakpoint-nav) {
    .no-mobile {
        display: none!important;
    }
}
@media (min-width: $breakpoint-nav) {
    .only-mobile {
        display: none;           
    }
}


form .double { // Добавить для мобильных !!! 
    display: flex;
    justify-content: space-between;
    .half {
        width: 50%;
        overflow: auto;
        float: left;
        max-width: 48%;
    }
}