body {
	background: $global--color-background;
	transition: $base-transition;
}
@media screen and (max-width: $breakpoint-nav ) {
	body.primary-navigation-open {
		overflow: hidden;
		
		.site-main,
		.site-footer,
		.site-branding {
			filter: blur(10px);
			opacity: 0.7;
		}
	}
}