body {
	background: $global--color-background;
	transition: $base-transition;
}
.site-main {
	overflow-x: hidden;
}
@media screen and (max-width: $breakpoint-nav ) {
	body.mobile-navigation-open {
		overflow: hidden;
		
		// .site-main,
		// .site-footer,
		// .site-branding {
		// 	filter: blur(10px);
		// 	opacity: 0.7;
		// }

		.site-main {
			opacity: 0;
		}
	}
}