body,
button,
input,
select,
optgroup,
textarea {
	color: $global--color-primary;
	font-family: $global--font-primary;
	font-size: $global--font-size;
	line-height: $global--line-height;
}

p {
	margin-top: 0;
	margin-bottom: 1.3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: $heading--font-family;
	line-height: $heading--line-height;
	color: $heading--color;
	font-weight: $heading--font-weight;
}

h1, h2, h3, h4 {
	margin: 1.414em 0 0.5em;
}

h5,h6 {
	margin: 1.414em 0 0.5em;
}

h1 {
	margin-top: 0;
	font-size: $heading--font-size-h1;
}

h2{
	font-size: $heading--font-size-h2;
}

h3 {
	font-size: $heading--font-size-h3;
}

h4 {
	font-size: $heading--font-size-h4;
}
h5 {
	font-size: $heading--font-size-h5;
}

small,h6 {
	font-size: $heading--font-size-h6;
	margin: 0.25em 0;
}

big {
	font-size: 1,25em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	line-height: $global--line-height;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: $font__code;
}

abbr,
acronym {
	border-bottom: 1px dotted $color__accent;
	cursor: help;
}

mark,
ins {
	background: $color__background-ins;
	text-decoration: none;
}
